.post{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.post img{
    width: 50px;
    border-radius: 50%;
}
.text {
    margin-left: 10px;
}

.post button {
    background: cornsilk;
    width: 50px;
    height: 50px;
    margin-left: 40px;
    border-radius: 50%;
}
