.profile {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.profile textarea{
    width: 400px;
    height: 100px;
}

.profile button{
    width: 400px;
    height: 50px;
}

.posts{
}
